<!DOCTYPE html>
<html lang="pl">
<link rel="stylesheet" href="../../static/styles/style.css">
<head>
    <meta charset="ANSI">
    <meta name="keywords" content="Spelling Bee, Pszczoła, Gra, Wymowna Pszczoła">
    <meta name="description" content="Zagraj w grę Wymowna Pszczoła">
    <meta name="author" content="Szymon Kozłowski">
    <title>WYMOWNA PSZCZOŁA</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
</head>
{% block content %}{% endblock %}