/* Naming conventions:
classes used for applying animation should have names starting with "animHold" prefix
*/

.hex_black {
    height: 100px;
    width: 100px;
    background: black;
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    position: inherit;
    transform: translateX(-50%);
    left: 50%;
    top: 20%;
}

.hex_yellow {
    height: 100px;
    width: 100px;
    background: #ffcf00;
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    position: inherit;
    left: 50%;
    top: 20%;
}

.buttonLetter {
    position: inherit;
    color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 40px;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 25px;
    font-family: cocogoose1, sans-serif;
}

.discoveredWords {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-base-color: yellow;
    scroll-behavior: smooth;
    scroll-padding-bottom: unset;
    background: lightgrey;
    position: inherit;
    top: 50vh;
    font-size: 20px;
    width: 30vw;
    transform: translateX(-50%);
    left: 50%;
    border: 0;
    border-radius: 10px;
    height: 15vh;
    min-height: 100px;
    min-width: 400px;
}

.button {
    cursor: pointer;
    position: inherit;
    background-color: orange;
    border-radius: 10px;
    font-size: 19px;
    width: 150px;
    height: 75px;
    font-family: 'Consolas', serif;
    border: 0;
    left: 50%
}

.popup {
    font-size: 25px;
    font-family: Consolas, serif;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 20vw;
    height: fit-content;
    border-radius: 5px;
    position: inherit;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes appear {
    0% {
        opacity: 0
    }
    20% {
        opacity: 1
    }
    80% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.animHoldMiddlePopup {
    animation-duration: 2s;
    animation-name: appear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.ranksFrame {
    color: black;
    width: 10vw;
    height: 500px;
    position: absolute;
}

.rankDot {
    position: inherit;
    border-radius: 50%;
    border: 5px solid black;
    background: #f2f3f2;
    width: 15px;
    height: 15px;
}

.rankLine {
    background: black;
    height: 300px;
    width: 10px;
    border-radius: 5px;
    position: inherit;
}

.rankLabel {
    font-family: "Consolas", serif;
    font-size: 25px;
    position: inherit;
}

.infoPopup {
    line-height: 50px;
    width: 70vw;
    height: 50vh;
    position: absolute;
    top: 5vh;
    left: 5vw;
    background: #ffcf00;
    border-radius: 5vh;
    font-family: "Consolas", serif;
    font-size: 30px;
    display: None;
    z-index: 100;
    text-align: center;
    padding: 10%;
}

.infoPopupText{
    position: inherit;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: fit-content;
}

.popupCloseButton {
    width: 30px;
    height: 30px;
    font-family: Consolas, serif;
    font-weight: bolder;
    color: black;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: inherit;
    display: inherit;
    top: 3vh;
    left: 82vw;
}

.infoButton {
    width: 30px;
    height: 30px;
    font-family: Consolas, serif;
    font-weight: bolder;
    color: black;
    border-radius: 50%;
    background: #ffcf00;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    top: 10px;
    left: 95vw;
}

.popupShadow {
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    background: grey;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}

.standardContent {
    -webkit-touch-callout: default;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
}

.popupBottom {
    width: 100vw;
    height: 50px;
    left: 0;
    bottom: -65px;
    background: gray;
    position: absolute;
    padding-bottom: 5px;
    padding-top: 10px;
}

@keyframes showBottomPopup {
    from {
        bottom: -65px;
    }
    to {
        bottom: 0;
    }
}

@keyframes hideBottomPopup {
    from {
        bottom: 0;
    }
    to {
        bottom: -65px;
    }
}

.animHoldPopupBottomShow{
    animation-duration: 0.75s;
    animation-name: showBottomPopup;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.animHoldPopupBottomHide{
    animation-duration: 0.75s;
    animation-name: hideBottomPopup;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.centralBlock{
    position: absolute;
    left:50vw;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    text-align: center;
    min-height: 700px;
    min-width: 500px;
}


body{
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: 30px;
    background: #f2f3f2;
    font-family: 'Consolas',serif;
    margin: 0;
    overflow-y: hidden;
}

@font-face {
    font-family: cocogoose1;
    src: url("Cocogoose Pro Light-trial.ttf");
}