<!DOCTYPE html>
<html lang="pl">
<link rel="stylesheet" href="../static/style.css">
<head>
    <meta charset="ANSI">
    <meta name="keywords" content="Spelling Bee, Pszczoła, Gra">
    <meta name="description" content="Zagraj w grę Wymowna Pszczoła">
    <meta name="author" content="Szymon Kozłowski">
    <meta name="">
    <title>WYMOWNA PSZCZOŁA</title>
</head>
<body onload="initialize()">
    <div style="width: 100%; height: 50px; background: #ffcf00; line-height: 50px">
            WYMOWNA PSZCZOŁA <span id="date_today"></span>
    </div>
    <br/>
    <div class="v2InfoButton" onclick="openInfoPopup()">?</div>
    <br/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
    <table class="v2MainLayout">
        <tr>
            <td style="vertical-align: top">
                <div class="v2RanksFrame">
                    <div id="counter" class="v2Counter">PUNKTY: 0</div>
                    <div class="v2RankLine" style="top: 50px">
                        <div class="v2RankLabel" id="rank_label" style="left: 2vw"></div>
                        <div class="v2RankDot" id="rank_dot_1" style="top: 25px"></div>
                        <div class="v2RankDot" id="rank_dot_2" style="top: 75px"></div>
                        <div class="v2RankDot" id="rank_dot_3" style="top: 125px"></div>
                        <div class="v2RankDot" id="rank_dot_4" style="top: 175px"></div>
                        <div class="v2RankDot" id="rank_dot_5" style="top: 225px"></div>
                    </div>
                </div>
                <button class="v2Button" style="top: 75%; transform: translateX(-125%)" onclick="delChar()">USUŃ LITERĘ</button><br>
                <button class="v2Button" style="top: 75%; transform: translateX(25%)" onclick="handleGuess()">SPRAWDŹ SŁOWO</button>
            </td>
            <td>
                <div class="v2MiddlePopup" id="mistake_popup"></div>
                <div class="v2HexBlack" onclick="clickHex(7)" id="hex7">
                    <div class="v2ButtonLetter" id="letter_slot_7" onclick="clickHex(7)" style="color: #ffcf00"></div>
                </div>
                <div class="v2HexYellow" onclick="clickHex(1)" style="transform: translate(-3%, 78%)" id="hex1">
                    <div class="v2ButtonLetter" id="letter_slot_1" onclick="clickHex(1)"></div>
                </div>
                <div class="v2HexYellow" onclick="clickHex(2)" style="transform: translate(-98%, 78%)" id="hex2">
                    <div class="v2ButtonLetter" id="letter_slot_2" onclick="clickHex(2)"></div>
                </div>
                <div class="v2HexYellow" onclick="clickHex(3)" style="transform: translate(-98%, -78%)" id="hex3">
                    <div class="v2ButtonLetter" id="letter_slot_3" onclick="clickHex(3)"></div>
                </div>
                <div class="v2HexYellow" onclick="clickHex(4)" style="transform: translate(-2%, -78%)" id="hex4">
                    <div class="v2ButtonLetter" id="letter_slot_4" onclick="clickHex(4)"></div>
                </div>
                <div class="v2HexYellow" onclick="clickHex(5)" style="transform: translate(44%, 0)" id="hex5">
                    <div class="v2ButtonLetter" id="letter_slot_5" onclick="clickHex(5)"></div>
                </div>
                <div class="v2HexYellow" onclick="clickHex(6)" style="transform: translate(-145%, 0)" id="hex6">
                    <div class="v2ButtonLetter" id="letter_slot_6" onclick="clickHex(6)"></div>
                </div>
                <span id="new_word" style="position: relative; top: 15%; text-align: center; font-size: 40px"></span>
            </td>
            <td style="vertical-align: top">
                <div class="v2DiscoveredWords" id="discovered_words_container">
                    <table style="table-layout: fixed; width: 100%" id="discovered_words"></table>
                </div>
            </td>
        </tr>
    </table>
    <div class="v2PopupShadow" id="info_popup_shadow"></div>
    <div class="v2InfoPopup" id="info_popup">
        <div class="v2PopupCloseButton" onclick="closeInfoPopup()">x</div>
        <div class="v2InfoPopupText">
            Wymowna pszczoła to gra <i>inspirowana</i> Spelling
            Bee ze strony New York Times. Zabawa polega na
            ułożeniu z dostępnych liter jak największej ilości słów.
            Pamiętaj, że w kazdym słowie musisz użyć litery ze
            środkowego sześciokąta oraz że ułożone słowa nie mogą
            być krótsze niż 4. Za słowo o długości 4 otrzymujesz
            1 punkt. Za dłuższe - tyle ile liter ma słowo.
            Dodatkowo, jeśli słowo zawiera wszystkie z dostępnych
            liter, jesteś nagrodzony siedmioma punktami.
        </div>
    </div>
    <div class="v2PopupBottom" id="bottom_popup">
        TA STRONA UŻYWA CIASTECZEK :)
        <div class="v2PopupCloseButton" style="right: 10px; top: 10px; left: revert" onclick="acceptCookies()">X</div>
    </div>
    <img src="../static/hexagons_bg.png" style="left: 0; bottom: 0; position: absolute; z-index: -1" alt="File not loaded">
</body>
</html>